<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.orangehrmlive.qa.extentReportListener.ExtentReporterNG"/>
    </listeners>

    <test name="ExtentReporterNG">
        <classes>
            <class name="com.orangehrmlive.qa.test.LoginTest"></class>
            <class name="com.orangehrmlive.qa.test.HomeTest"></class>
            <class name="com.orangehrmlive.qa.test.AdminTest"></class>
        </classes>
    </test>
</suite>